<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Thmmy Crush Part B/lib/crush.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gr.auth.ee.dsproject.crush.MainPlatform"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Thmmy Crush Part B"/>
</launchConfiguration>
